body {
  background-color:rgb(231, 225, 214);
  margin-left: 70px;
  margin-right:70px;
}

img {
  src: "git-logo-F4A93DAA20-seeklogo.com.png";
  width: 250px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 150px;
}
h1 {
  color: rgb(0, 0, 0);
  margin-left: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 3px 3px 5px rgb(67, 65, 65);
}

h2 {
  font-family: serif;
  text-shadow: 2px 2px 4px rgb(67, 65, 65);

}

#copyright {
    color: rgb(0, 0, 0);
  margin-left: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 3px 3px 5px rgb(67, 65, 65);
}

#define {
    font-size: larger;
}