body {
  background-color:rgb(156, 156, 156);
  margin-left: 90px;
  margin-right:90px;
}

h1 {
  color: rgb(0, 0, 0);
  margin-left: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 3px 3px 5px rgb(67, 65, 65);
  text-decoration: underline;
  text-decoration-style: wavy;
}

h2 {
  font-family: serif;
  text-shadow: 2px 2px 4px rgb(67, 65, 65);
  text-decoration: underline;
}

#copyright {
    color: rgb(0, 0, 0);
  margin-left: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 3px 3px 5px rgb(67, 65, 65);
}

#define {
    font-size: larger;
}

#bodytext {
width: 800px;
margin-left: 200px;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}